/* animation */
@keyframes sun {
  0% {
    bottom: 100%;
  }

  100% {
    bottom: 60px;
  }
}

@keyframes city {
  0% {
    translate: 100%;
  }

  100% {
    translate: 0;
  }
}

@keyframes fish {
  0% {
    translate: 99%;
  }

  100% {
    translate: -1800px;
  }
}