@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Merriweather - <weight>: Use a value 300, 400, 700, 900 */
/* Golos Text - <weight>: Use a value from 400 to 900 */

@import "reset.css";
@import "slider.css";
@import "anime.css";

.color-accent {
  color: #F54932;
  font-weight: 600;
}

.color-second {
  color: #3057a2;
}

a.color-second {
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #3057a2;
}

.through {
  position: relative;
  display: inline-block;
  padding: 0 0 0 3px;
  margin: 0 4px 0 0;
}

.through::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f54932;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

figure {
  max-width: 100%;
}

figure img {
  width: 100%;
}

h1,
h2 {
  font-family: "Merriweather", serif;
  font-size: 72px;
  line-height: .88;
  font-weight: 400;
  font-variant-caps: all-small-caps;
}

section.main h2 {
  font-size: 54px;
}

.uroom h2 {
  padding-bottom: 60px;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 48px;
  line-height: 1.05;
  font-weight: 400;
  font-variant-caps: all-small-caps;
}

p {
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}

/* Layout */
section {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

section .contentbox,
footer .contentbox {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 20px 72px;
}

section.header>.contentbox {
  min-height: 210px;
}

/* section Header */
section.header {
  position: relative;
  background-image: url("../img/bg-t02.jpg");
  background-repeat: repeat;
  background-position: left top;
  height: auto;
}

section.header .sun {
  width: 54%;
  height: auto;
  position: absolute;
  bottom: 60px;
  right: 0;
  animation: sun linear 3s;
}

section.header .sun img {
  width: 100%;
  max-width: 777px;
  height: 100%;
  opacity: .5;
  filter: saturate(35);
}

section.header .citychess {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  height: auto;
  position: relative;
  bottom: -4px;
  animation: city linear 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

section.header .citychess img {
  width: 100%;
  height: auto;
}

section.header .contentbox>.content {
  position: absolute;
  width: 495px;
  z-index: 1;
}

section.header h1 {
  padding-top: 62px;
}

section.header h1 span {
  display: block;
}

section.header h1 span+span {
  text-align: center;
}

section.header h1+p {
  padding: 24px 0 34px 0;
}

/* Buttons */
.bttn {
  width: 260px;
  height: 72px;
  background-color: #1f1f1f;
  color: #ffffff;
  border-radius: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #1f1f1f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

.bttn+.bttn {
  margin-left: 16px;
}

.bttn.bttn-secondary {
  background-color: transparent;
  color: #1f1f1f;
}

/* Section River */
section.river {
  width: 100%;
  height: 60px;
  background-color: #F54932;
}

section.river>.contentbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

section.river .river-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

section.river .river-wrapper::before,
section.river .river-wrapper::after {
  content: "";
  display: block;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

section.river .river-wrapper::before {
  left: 0;
  right: auto;
  background: linear-gradient(to right, rgba(245, 73, 50, 1) 0%, rgba(245, 73, 50, 0) 100%);
}

section.river .river-wrapper::after {
  right: 0;
  left: auto;
  background: linear-gradient(to left, rgba(245, 73, 50, 1) 0%, rgba(245, 73, 50, 0) 100%);
}

section.river .fish {
  color: #ffffff;
  font-size: 22px;
  white-space: nowrap;
  animation: fish linear 27s;
  animation-iteration-count: infinite;
}

.flexcols.img-figa .flying-img {
  max-width: 480px;
  width: 100%;
  margin: 24px auto;
}

/* Columns */
.flexcols {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
}

.flexcols>.col {
  width: 100%;
}

.flexcols>.col.col-4 {
  flex-grow: 4;
  width: auto;
  max-width: 33.33%;
}

.flexcols>.col.col-5 {
  flex-grow: 5;
  width: auto;
  max-width: 41.66%;
}

.flexcols>.col.col-6 {
  flex-grow: 6;
  width: auto;
  max-width: 50%;
}

.flexcols>.col.col-7 {
  flex-grow: 7;
  width: auto;
  max-width: 58.33%;
}

.flexcols>.col.col-8 {
  flex-grow: 8;
  width: auto;
  max-width: 66.66%;
}

.heading-col-7 {
  width: 58.33%;
}

.heading-special {
  position: relative;
}

.heading-special .twolines {
  display: inline-block;
  height: 1em;
  font-size: 20px;
  line-height: 0.9;
  color: #3057a2;
}

ul.annonce {
  display: block;
  margin-top: 36px;
  margin-bottom: 22px;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

ul.annonce li {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #d0d0d0;
}

ul.annonce li:last-of-type {
  border: none;
}

ul.annonce li>span {
  color: #6f6f6f;
  width: 44%;
}

ul.annonce li>span+span {
  color: #313131;
  font-weight: 600;
  width: 56%;
}

/* iBoxes */
.iboxes {
  position: relative;
}

.iboxes .glaider {
  display: block;
  position: absolute;
  bottom: 40px;
  left: 72%;
  z-index: 1;
}

.iboxes .ibox {
  position: relative;
  width: calc(33.33% - 14px);
  min-height: 112px;
  background: url(../img/bg-block.png) no-repeat;
  background-size: cover;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 72px;
  font-size: 20px;
  line-height: 1.2;
}

.iboxes .ibox var {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #ffffff;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 20px;
}

.iboxes .ibox:nth-child(3) {
  margin-right: 0;
  min-height: 244px;
  float: right;
}

.iboxes .ibox:last-child {
  margin-right: 0;
  width: calc(66.66% - 7px);
  min-height: 136px;
  padding-right: 25%;
}

.iboxes .ibox:nth-child(6) {
  min-height: 136px;
}

/* Footer */
footer {
  background-color: #e9ded4;
}

footer>.contentbox {
  padding-top: 40px;
  padding-bottom: 72px;

}

footer>.contentbox p {
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #886a66;
}

/* @media */
@media only screen and (max-width: 1280px) {

  .iboxes .ibox,
  .iboxes .ibox:last-child,
  .iboxes .ibox:nth-child(6) {
    min-height: 136px;
  }

  .iboxes .ibox:nth-child(3) {
    min-height: 292px;
  }
}

@media only screen and (max-width: 1182px) {
  .iboxes .ibox {
    min-height: 157px;
  }

  .iboxes .ibox:nth-child(3) {
    min-height: 334px;
  }
}

@media only screen and (max-width: 1240px) {
  section.header>.contentbox {
    min-height: 240px;
  }
}

@media only screen and (max-width: 1024px) {
  section.header>.contentbox {
    min-height: 280px;
  }

  section.header .contentbox>.content {
    width: 420px;
  }

  section.header h1 {
    font-size: 60px;
  }

  .iboxes .ibox,
  .iboxes .ibox:nth-child(3),
  .iboxes .ibox:last-child,
  .iboxes .ibox:nth-child(6) {
    float: none;
    width: 100%;
    min-height: 76px;
    display: flex;
    align-items: center;
  }

  .contentbox+.iboxes {
    margin-top: 140px;
  }

  .iboxes .glaider {
    bottom: auto;
    left: 35%;
    top: -160px;
  }

  .flexcols.img-figa .col-8 {
    width: 100%;
    max-width: 100%;
  }

  .flexcols.img-figa .dummy {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .flexcols.img-figa .flying-img {
    display: none;
  }
}

@media only screen and (max-width: 990px) {
  section.header>.contentbox {
    min-height: 280px;
  }

  section.header h1 {
    padding-top: 40px;
  }

  .bttn.bttn-secondary {
    background-color: rgba(255, 255, 255, .8);
  }
}

@media only screen and (max-width: 768px) {

  section .contentbox,
  footer .contentbox {
    padding: 20px;
  }

  section.header .content h1+p {
    text-align: left;
  }

  section.header .content h1~.d-flex {
    flex-direction: column;
  }

  section.header .content h1~.d-flex .bttn {
    width: 100%;
    height: 47px;
  }

  section.header .content h1~.d-flex .bttn+.bttn {
    margin: 16px 0 0 0;
  }

  section.header .contentbox>.content {
    position: relative;
    margin: 0 auto;
    width: 435px;
  }

  section.header .sun {
    width: 80%;
    bottom: 60px;
    right: 12%;
  }

  section.header .citychess img {
    position: relative;
    left: -54%;
    width: 160%;
  }

  ul.annonce li {
    flex-direction: column;
    height: auto;
  }

  ul.annonce li>span,
  ul.annonce li>span+span {
    width: 100%;
    margin-top: 12px;
  }

  ul.annonce li>span+span {
    margin-bottom: 16px;
  }

  .mt-divider {
    margin-top: 82px;
    margin-bottom: 82px;
  }
}

@media only screen and (max-width: 475px) {

  section.main h2,
  h3 {
    font-size: 40px;
    line-height: .9;
  }

  .uroom .heading-special {
    padding-right: 90px;
  }

  .heading-special .twolines {
    display: block;
    margin-top: 4px;
  }

  .prev-button,
  .next-button {
    top: 16px;
  }

  section.header .contentbox>.content {
    width: 320px;
  }

  section.header h1 {
    font-size: 48px;
  }

  .iboxes .glaider {
    left: 20%;
  }

  .flexcols {
    flex-direction: column;
  }

  .heading-col-7,
  .flexcols>.col,
  .flexcols>.col.col-7,
  .flexcols>.col.col-5 {
    width: 100% !important;
    max-width: 100% !important;
  }

  .flexcols>.col.col-4>figure {
    margin-top: 16px;
  }

  .mt-divider,
  .header+.river+.mt-divider {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}